*{
    margin: 0;
    padding: 0;
}
.header-section{ background-color: rgb(255, 4, 4);
    width: 100%;
    height: 460px;
    display: flow-root;
}
.section-wap{
    width:80%;
    background-image: linear-gradient(57deg,orange, orangered);
    margin:0 auto;
    margin-top: 170px;
    box-shadow: 0px 7px 40px 5px  rgb(29, 19, 19);
    display: flex;
    height: 100%;
    
}

.header-section-div-two {
    width: 50%;
    display: inline-block;
}
.header-section-div-two img{
    margin-top: 48px;
    width: 46%;
  
}
.header-content{
    float: right;
    width: 50%;
    margin-top:154px;
    height: 244px;
    
}
.header-content h2{
    font-size: 30px; 
}
.header-content h1{
    margin: 15px 0px;
    font-size: 40px;
}
.header-content p{
    font-size: 20px;
}
span{
    color: #ffffff;
}
@media(max-width: 752px){
    .header-section{
        height: 300px;
    }
    .section-wap{
        height: 80%;
    }
    .header-section-div-two img{
        width: 100px;
        margin-top: 74px;
        
    }
    .header-content{
        margin-top: 35px;
        height: 165px;
    }
    .header-content h2{
          font-size: 15px;
     }
     .header-content h1{
            font-size: 16px;
            margin: 8px 0;

     }
     .header-content p{
        font-size: 10px;
     }
}



.maincontainer{
    margin-left: 28px;
    margin-top: 300px;
    position: relative;
    width: 300px;
    height: 320px;
    display: inline-block;
    border-radius: 5px;
    
}
.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style:preserve-3d ;
    transition: all 1s ease;
}
.thecard:hover{
    transform: rotateY(180deg);
}
.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility:hidden ;
  
    
}
.thefront img{
    width: 100%;
    border-radius: 5px;
    height: 100%;
}

.theback h1{
    width: 100%;
    text-align: center;
    margin-top: 80px;
}
.theback h3{
    margin: 15px 0px;
    text-align: center;
}
.theback p{
    text-align: center;
    margin-bottom: 15px;
}
.theback-button{
    background-image: linear-gradient(57deg,#a50aff,#00c3ff);
    width: 100px;
    height: 40px;
    margin-left: 107px;
    border-radius: 7px;
    
    
}
.theback-button a{
    text-decoration: none;
    color: #ffffff;
  
}

.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility:hidden ;
    background-image: linear-gradient(57deg,orange, orangered);
    font-family: Arial, Helvetica, sans-serif;
    transform: rotateY(180deg);
    border-radius: 5px;
}


@media(max-width: 752px){
    .maincontainer{
        width: 84%;
        height: 380px;
        margin-left: 7.5%;
        margin-top: 200px;
    }
   .frist-ciled{
    margin-top: 30px;
    
    }
    .theback-button{
        width: 30%;
        margin-left: 115px;
    }
}